server:
  port: 9000

spring:
  application:
    name: gateway-v2
  security:
    oauth2:
      client:
        registration:
          gateway:
            provider: my-auth-server
            client-id: gateway
            client-secret: secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile
        provider:
          my-auth-server:
            issuer-uri: http://localhost:8080
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: resource-server-route
              uri: http://localhost:9001
              predicates:
                - Path=/api/**
              filters:
                - TokenRelay=
                - RemoveRequestHeader=Cookie
                - StripPrefix=1
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:5173"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                allowedHeaders: "*"
                allowCredentials: true

#logging:
#  level:
#    org.springframework.security: DEBUG
#    org.springframework.cloud.gateway: DEBUG
#    org.springframework.security.oauth2: DEBUG

